/*narancs: #ff9000
  szürke:#808080

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:black;
}

.alapvaz{
  min-height: 100vh;
  display: grid;
  grid-template-rows:60px auto 120px;
  grid-template-areas: 
  "fejlec"
  "tartalom"
  "lablec"  
  ;

}

.fejlec{
  grid-area: fejlec;
  background-color: #343a40;
}

.tartalom{
  grid-area: tartalom;
}

.lablec{
  grid-area: lablec;
  background-color: #343a40;
}

.fejlec ul{
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-end;
  align-items: center;
list-style: none;}

.fejlec li{
  padding: 15px 20px;
  
}

#foldal{
  background-color: aqua;
}

#informacio{
  background-color: brown;
}

.lablec p{
  margin-top:50px;
  text-align: center;
}

.lablec ul{
  display: flex;
  flex-flow:row wrap;
  justify-content: center;
  list-style: none;
}

.lablec li{
  margin: 8px;
  color:white;
  font-weight: bold;
}

.lablec p{
  margin-bottom: 10px;
}

.tartalom{
  background-color: chocolate;
}

.tartalom img{
  width: 100%;
  height: auto;
}
.flex-item{
  background-color: gray;
}



.fejlec ul li i{
  font-size:20px;
  color:white;
}


  /*background-color: #31ff83; zöld*/



@media only screen and (min-width:320px){

  .fejlec li{
    margin:5px;
  }

#kat1{
  display: none;
}

#kereso_doboz{
  display: none;
}

.flex-item{ order: 1; }

#logo_szoveg{
  display: none;
}



.close{
  position: relative;
  top:-28px;
  left:220px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 50px;
}
.close_reg{
  position: relative;
  top:-28px;
  left:220px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 50px;
}

.close_forget_password{
  position: relative;
  top:-28px;
  left:220px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  font-size: 50px;
}

.modal-content img{
  width:30px;
  position: relative;
  bottom: 30px;
}



}

@media only screen and (min-width:600px){

  .flex-item{ order: 0; }

#kat{
  display: none;
}

#kat1{
  display: inline-block;
  background-color: gray;
  padding-right: 70px;

}
  .fejlec li{
    padding: 15px 20px;
  }

  #kereso_doboz{
    display: inline-block;
    padding:0;
    border:0;
    height: 51px;
    font-size: 20px;
    color: black;
  }
  #kereso{
    background-color: gray;
    display: inline-block;
    margin-left: 0;
  }
  #logo_szoveg{
    display: none;
  }

  

}

@media only screen and (min-width:876px){

  .flex-item{ order: 0; }


  #kereso{
    background-color: gray;
    display: inline-block;
    margin-left: 0;
  }

  #kereso_doboz{
    display: inline-block;
    font-size: 20px;
    color: black;
    padding:0;
    border:0;
    height: 51px;
    width: 450px;
  }

  #logo_szoveg{
    position: absolute;
    right: 60px;
    color:chocolate;
    display: inline;
  }

  .close{
    position: relative;
    top:-28px;
    left:300px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    font-size: 50px;
  }

  .close_reg{
    position: relative;
    top:-28px;
    left:300px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    font-size: 50px;
  }

  .modal-content img{
    width:30px;
    position: relative;
    bottom: 50px;
  }

  .close_forget_password{
    position: relative;
    top:-28px;
    left:280px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
    font-size: 50px;
  }

}

.flex-item:hover,#kat1:hover,#kereso:hover{
  background-color: chocolate;
}



#logo_szoveg{
  position: relative;
  right: 60px;
  color:chocolate;
}

.lablec ul li i{
  color: chocolate;
  font-size: 25px;
  font-weight: 0;
}

.lablec p{
  color:white;
  font-size: 20px;
}

#kat1{
  font-weight: bold;
}
#login_form{
  width:20px;
}

#logo{
  width: 30px;
  display: inline-block;
  position: absolute;
  top:5px;
  left:10px;
}

/* Login Modal windows*/

.modal{
  width: 100%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100%
}

.modal-content{
  width: 650px;
  height: 450px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: absolute;
}

.modal-content input{
  width: 50%;
  display: block;
  margin: 30px auto;
  font-size:20px;
  border-radius: 40px;
  outline: none;
  padding: 10px;
}


.login_modal{
  text-decoration: none;
  padding: 10px 30px;
  background-color: green;
  border-radius: 5px;
  display: inline-block;
}

form{
  position: relative;
  bottom:30px;
}

#login_modal_text{
  position: relative;
  bottom:50px;
}

.linkek{
  margin-top: 30px;
}
.linkek a{
  margin:10px;
}

/* Login Modal windows END*/

/*Register Modal windows*/

.modal_reg{
  width: 100%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top:0px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100%;
}

.modal-content_reg{
  width: 650px;
  height: 600px;
  position: relative;
  top:30px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: absolute;
}

.modal-content_reg input{
  width: 50%;
  display: block;
  margin: 30px auto;
  font-size:20px;
  border-radius: 40px;
  outline: none;
  padding: 10px;
}


.reg_modal{
  text-decoration: none;
  padding: 10px 30px;
  background-color: green;
  border-radius: 5px;
  display: inline-block;
}

form{
  position: relative;
  bottom:30px;
}

#reg_modal_text{
  position: relative;
  bottom:30px;
}

.linkek{
  margin-top: 30px;
}
.linkek a{
  margin:10px;
}

.modal-content_reg img{
  width:30px;
  position: relative;
  bottom: 30px;
}

/*Register Modal windows END*/

/*Forget_password modal window*/

.modal_forget_password{
  width: 100%;
  background-color: black;
  opacity: 0.7;
  position: absolute;
  top:0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height:100%;
  display: none;
}

.modal-content_forget_password{
  width: 600px;
  height: 400px;
  background-color: white;
  border-radius: 4px;
  text-align: center;
  padding: 20px;
  position: absolute;
}

.modal-content_forget_password input{
  width: 50%;
  display: block;
  margin: 30px auto;
  font-size:20px;
  border-radius: 40px;
  outline: none;
  padding: 10px;
}


.forget_password_modal{
  text-decoration: none;
  padding: 10px 30px;
  background-color: green;
  border-radius: 5px;
  display: inline-block;
}

form{
  position: relative;
  bottom:30px;
}

#forget_password_modal_text{
  position: relative;
  bottom:30px;
}

.linkek{
  margin-top: 30px;
}
.linkek a{
  margin:10px;
}

.modal-content_forget_password img{
  width:30px;
  position: relative;
  bottom: 30px;
}

/*Forget_password modal window END*/

