/*narancs: #ff9000
  szürke:#808080

*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color:white;
}

.alapvaz{
  height: 100vh;
  display: grid;
  grid-template-rows:10% auto 10%;
  grid-template-areas: 
  "fejlec"
  "tartalom"
  "tartalom"
  "tartalom"
  "tartalom"
  "tartalom"
  "lablec"  
  ;

}

.fejlec{
  grid-area: fejlec;
  background-color: #343a40;
}

.tartalom{
  grid-area: tartalom;
}

.lablec{
  grid-area: lablec;
  background-color: #343a40;
}

.fejlec ul{
  display: flex;
  flex-flow:row wrap;
  justify-content: flex-end;
list-style: none;}

.fejlec li{
  padding: 15px 20px;
  margin:3px;
  border-radius: 5px;
}

#foldal{
  background-color: aqua;
}

#informacio{
  background-color: brown;
}

.lablec p{
  margin-top:50px;
  text-align: center;
}

.lablec ul{
  display: flex;
  flex-flow:row wrap;
  justify-content: center;


list-style: none;

}

.lablec li{
  margin: 8px;
  color:white;
  font-weight: bold;
}

.lablec p{
  margin-bottom: 10px;
}

.tartalom{
  background-color: red;
}

.tartalom img{
  width: 100%;
  height: auto;
}


